server:
  port: 8085

spring:
  cloud:
    gateway:
      routes:
        - id: customer_service
          uri: http://localhost:8082
          predicates:
            - Path=/api/customers/**
          filters:
            - StripPrefix=0